<!doctype html>
<html lang="ru ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Parser NAU</title>
    <style>
        #container1 {
            width: 100%;
            height: 680px;
        }
        @media (min-width: 1500px){
            #container1 {
                width: 100%;
                height: 1000px;
            }
        }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<button class="btn btn-dark" id="reset">Обнулити</button>
<div id="container1"></div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" type="text/javascript"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/javascripts/sort.js" type="text/javascript"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script type="text/javascript">
    chart();
    setInterval(chart,20000);
    let data = [],series = [], seriesSUM = [], seriesRg = [];
    console.log(seriesSUM);
    function clear()
    {
        data.forEach(function (value,index) {
            seriesSUM[index] = (value.suffrage);
        });
        console.log(seriesSUM);
    }

    $("#reset").on("click",function () {
        clear();
        chart();
    });
   function chart() {
       $("#container1").empty();
       $.ajax({
           url: '/selectMISS',
           complete: function (dataJSON) {
               //console.log(dataJSON.responseJSON.data);
               data = JSON.parse(dataJSON.responseJSON.data);
               data.forEach(function (value, index) {
                   let y = 0;
                   if(seriesSUM.length == 0)
                        y = Number(value.suffrage)
                   else
                       y = (Number(value.suffrage) - Number(seriesSUM[index]))
                   let obj = {
                       name: value.name,
                       y: y
                   };
                   series[index] = obj;
               });
               //series = JSON.stringify(series);
               console.log(series);
               //console.log(seriesRg);
               create(series);

           }
       });
   }
    function create(series) {
        // Create the chart
        Highcharts.chart('container1', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Кількість голосів'
            },
            subtitle: {
                text: '...'
            },
            xAxis: {
                type: 'category',
                labels: {
                    style: {
                        fontSize: '25px'
                    }
                }
            },
            yAxis: {
                labels: {
                    style: {
                        fontSize: '25px'
                    }
                },
                max: 50

            },
            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            series: [
                {
                    name: "Голосів:",
                    colorByPoint: true,
                    data: series
                }
            ]
        });
    }
</script>
</body>
</html>